# Python
__pycache__
*.py[cod]
*$py.class
*.so
*.pyc
*.db
*.sqlite3

# Django
/media/
/staticfiles/
/.env
.env

# Poetry
/poetry.toml
poetry.lock
/__pypackages__

# IDE / редакторы
.vscode/
.idea/
*.swp
*.swo

# Логи
*.log
/logs/

# Ошибки
eggs
.eggs
dist
build
develop-eggs
.installed.cfg
.pytest_cache/
coverage.xml
nosetests.xml
unit_test.xml
htmlcov/
*.mo
*.pot

# macOS
.DS_Store

# Windows
Thumbs.db